mixin stars(number)
    - var n = 0;
    span.stars
        while n < number
            img(src="/star-filled.png")
            - n++
        while n < 5
            img(src="/star-empty.png")
            - n++

mixin renderedReview(review)

    li.review(class=(review.upvotes-review.downvotes)<0?"trans":"full")
        if(user && user.num_reviews==0 && !user.admin)
            .contribAlert
                h1 Please write a review to view.
                p
                b It will take only 5 minutes. 
                | Once you submit a review, you can use the website fully. Click "view courses" to see courses that you can review.
                hr
                a.btn(href="/courses") View courses
        .row(class=(user && user.num_reviews==0 && !user.admin)?"noContribution":"")
            .col-1.text-center.votebox
                img(src="/upvote.png" onclick='upvote("'+review.id+'")' title="Upvote" alt="Upvote").vote
                h4(id="votes-"+review.id)=(review.upvotes-review.downvotes)*10
                img(src="/downvote.png" onclick='downvote("'+review.id+'")' title="Downvote" alt="Downvote").vote
                
            .col-11
                div
                    if review.recommend==1
                        span.recPill
                            img(src="/check.png", alt="Recommended")
                            |Course recommended
                    else
                        span.recPill.notRecommended
                            img(src="/cross.png", alt="Not recommended")
                            |Course not recommended
                    h2.reviewTitle
                        =review.review_title
                    if user.admin
                        form(action="/admin/deleteReview" method="POST")
                            input(type="hidden" name="id" value=review.id)
                            input.btn(type="submit" value="(Admin) Delete Review")
                            hr
                    .profile
                        +stars(review.general_feedback_score)
                        if !review.anonymous || user.admin
                            img(src=review.photo, alt="Profile Picture").pic
                            span.tiny By 
                                if review.anonymous
                                    span ( Anonymous ) 
                                span=review.name
                    p=review.general_feedback||"The reviewer did not leave any general feedback."
                    h4 Grading &nbsp;
                        small
                            +stars(review.grading_score)
                    p=review.grading||"The review did not mention anything about grading."
                    h4 Liteness &nbsp;
                        small
                            +stars(review.liteness_score)

                    p=review.liteness||"The review did not mention anything about liteness."

                    h4 Suggestions
                    p=review.suggestions||"The reviewer did not leave any suggestions."
                    small.float-right Posted on 
                        span=new Date(review.timestamp || Date.now()).toDateString()
                    .clearfix